@{
    @model WishViewModel[]
    ViewData["Title"] = "Seznam přání";
}

<div asp-claim="IsAdmin" class="row mt-1 mb-1">
    <div class="col-12">
        <a asp-action="New" class="btn btn-secondary float-right">Přidat</a>
    </div>
</div>

<h1 class="text-center">Seznam přání</h1>

@foreach (var wish in Model)
{
    <div class="wish">
        <a href="~/images/items/@(wish.Id)-orig.jpg" class="photo">
            <img src="~/images/items/@(wish.Id).jpg" />
        </a>
        <div class="float-left" style="max-width: 800px;">
            @wish.SubTitle
            <h2>@wish.Title</h2>
            <p>@wish.Description</p>
            @foreach (var link in wish.Links)
            {
                <span>Odkaz:</span>
                <a href="@link.Url" target="_blank">@link.Text</a><br />
            }
            Cena: @wish.Price<br />
        </div>
        <div class="clearfix"></div>
    </div>
}
