@{
    @model WishViewModel[]
    ViewData["Title"] = "Seznam přání";
}

<h1 class="text-center">Seznam přání</h1>

@foreach (var wish in Model)
{
    <div class="wish">
        <a href="~/images/items/@(wish.Image)-orig.jpg" class="photo">
            <img src="~/images/items/@(wish.Image).jpg" />
        </a>
        <div class="float-left">
            @wish.SubTitle
            <h2>@wish.Title</h2>
            <p>@wish.Description</p>
            @foreach (var link in wish.Links)
            {
                <span>Odkaz:</span>
                <a href="@link.Url" target="_blank">@link.Text</a><br />
            }
            Cena: @wish.Price<br />
        </div>
        <div class="clearfix"></div>
    </div>
}
